ul {
    list-style: none;
    background-color: skyblue;
}

a {
    color: white;
    padding: 10px 0;
    text-decoration: none;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

a:hover {
    background-color: steelblue;
}